{% extends 'Charity/base.html'%}

{%block head%}
<link rel = "stylesheet" href = "/static/css/complaint_style.css">
        
{%endblock%}
{%block body%}
<style>
  .formcss{
    
    display: inline;
    
    justify-items: center;
  }
  .formcss img{
    width: 70%;
  }
</style>
<div class="formbold-main-wrapper">



  <!-- Author: FormBold Team -->
  <!-- Learn More: https://formbold.com -->
  <div class="formbold-form-wrapper">
    <h1>Sign Up</h1>
    <hr>
    <form action="signup" class="formcss" method="POST">
      <center><img src="/static/images/Sign up.svg"><center>
    {% csrf_token %}
      <div class="formbold-mb-3">
        <label for="country" class="formbold-form-label"> Email </label>
        <input
          type="email"
          name="email"
          id="email"
          
          class="formbold-form-input"
        />
      </div>

      <div class="formbold-mb-3">
        <label for="password" class="formbold-form-label"> Password </label>
        <input
          type="password"
          name="password"
          id="password"
          
          class="formbold-form-input"
        />
      </div>


      <div class="formbold-mb-3">
        <label for="password2" class="formbold-form-label"> Confirm Password </label>
        <input
          type="password"
          name="password2"
          id="password2"
          
          class="formbold-form-input"
        />
      </div>
      
      <center><button class="formbold-btn">Submit</button></center>
    </form>
  <br>
  <a href="/login">Login</a> 
  </div>
  
</div>

{%endblock%}
