{% extends 'User/base.html'%}

{%block head%}

{%endblock head%}

{% block body%}



        <!-- about section -->
        <section id = "about" class = "py-4">
            <div class = "container">
                <div class = "title-wrap">
                    <span class = "sm-title">things to know about us</span>
                    <h2 class = "lg-title">our story</h2>
                </div>

                <div class = "about-row">
                    <div class = "about-left my-2">
                        <img src = "static/images/aboutimg1.png" alt = "about img">
                        <h2></h2>
                        <img src = "static/images/aboutimg2.png" alt = "about img">
                    </div>
                    <div class = "about-right">
                        <h1> Speak up for the Voiceless and Protect the Environment</h1>
                        <p class = "text">
                                Welcome to EcoVoice: Your Platform for Environmental Advocacy
                                
                                At EcoVoice, we understand the critical importance of preserving our planet's delicate ecosystems and protecting its diverse wildlife. Our platform is dedicated to empowering individuals like you to speak up against environmental crimes and take action to safeguard the environment for future generations.
                        </p>
                        <p class = "text">      
                                <h3>Who We Are<h3>
                                
                                EcoVoice is more than just a reporting platform; we are a community of passionate individuals united by a common goal: to protect our planet and its inhabitants. Our team consists of environmental experts, technologists, and advocates who are committed to making a positive impact on the world.
                                </p>       
                                <h3>What We Do<h3>
                        <p class = "text"> 
                                Through our user-friendly platform, EcoVoice enables users to report a wide range of environmental crimes, including wildlife abuse, plastic dumping, illegal logging, overfishing, and more. Our advanced validation mechanisms ensure the credibility of each report, empowering users to make a tangible difference in the fight against environmental degradation.
                                
                                <h3>Why It Matters<h3>
                        <p class = "text">        
                                The health of our planet is under threat from human activities like never before. From deforestation and pollution to habitat destruction and climate change, the challenges facing our environment are complex and urgent. By speaking up for the voiceless and taking action against environmental crimes, we can protect the natural world and create a sustainable future for all.
                                
                                <h3>Join Us<h3>
                        <p class = "text">         
                                Join us at EcoVoice and be a part of the solution. Whether you're an individual concerned about the environment or an organization dedicated to conservation, there's a place for you in our community. Together, we can make a difference and ensure a brighter, greener future for generations to come. Speak up, take action, and let your voice be heard with EcoVoice.</div>
                    <div class = "about-left my-2">
                        
                    </div>
                    
                </div>
            </div>
        </section>
        <!-- end of about section -->

        <!-- facts section -->
        <section id = "facts" class = "py-4 flex">
            <div class = "container">
                <div class = 'title-wrap'>
                    <span class = "sm-title">know some facts about ECO-voice</span>
                    <h2 class = "lg-title">fun facts</h2>
                </div>

                <div class = "facts-row">
                    <div class = "facts-item">
                        <span class = "fas fa-camera-retro facts-icon"></span>
                        <div class = "facts-info">
                            <strong>1220</strong>
                            <p class = "text">abondoned Animals were provided shelter</p>
                        </div>
                    </div>

                    <div class = "facts-item">
                        <span class = "fas fa-umbrella-beach  facts-icon"></span>
                        <div class = "facts-info">
                            <strong>45</strong>
                            <p class = "text">beaches cleaned</p>
                        </div>
                    </div>

                    <div class = "facts-item">
                        <span class = "fas fa-mountain facts-icon"></span>
                        <div class = "facts-info">
                            <strong>60</strong>
                            <p class = "text">Rivers cleaned</p>
                        </div>
                    </div>

                    <div class = "facts-item">
                        <span class = "fas fa-ship facts-icon"></span>
                        <div class = "facts-info">
                            <strong>150</strong>
                            <p class = "text">Environmental Events organized</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end of facts section -->
        

        {%endblock body%}