{% extends 'User/base.html'%}
{%block head%}
<header class = "flex">
<div class = "container">
    <div class = "header-title">
        <h1>Speak up for the Voiceless and Protect the Environment</h1>      
    </div>
</header>
{%endblock head%}

{% block body%}


        <!-- featured section -->
        <section id = "featured" class = "py-4">
            <div class = "container">
                <div class = "title-wrap">
                    <span class = "sm-title">Carried out Social Awareness and Environmental Events</span>
                    <h2 class = "lg-title">Events & Updates</h2>
                </div>

                <div class = "featured-row">
                    <div class = "featured-item my-2 shadow">
                        <img src = "static/images/featured-reo-de-janeiro-brazil.jpg" alt = "featured place">
                        <div class = "featured-item-content">
                            <span>
                                <i class = "fas fa-map-marker-alt"></i>
                                Marine Drive , Mumbai 
                            </span>
                            <div>
                                <p class = "text">Beach Cleaning : Fun way to spend your day for the environmental cause</p>
                            </div>
                        </div>
                    </div>

                    <div class = "featured-item my-2 shadow">
                        <img src = "static/images/featured-north-bondi-australia.jpg" alt = "featured place">
                        <div class = "featured-item-content">
                            <span>
                                <i class = "fas fa-map-marker-alt"></i>
                                Kamala Nehru Park , Pune 
                            </span>
                            <div>
                                <p class = "text">Park Cleaning : Fun way to spend your day for the environmental cause</p>
                            </div>
                        </div>
                    </div>

                    <div class = "featured-item my-2 shadow">
                        <img src = "static/images/featured-berlin-germany.jpg" alt = "featured place">
                        <div class = "featured-item-content">
                            <span>
                                <i class = "fas fa-map-marker-alt"></i>
                                Rajveer Pet care , New Delhi 
                            </span>
                            <div>
                                <p class = "text">Pet Care : Spend your day by taking care of physically disabled pets or abondoned pets</p>
                            </div>
                        </div>
                    </div>

                    <div class = "featured-item my-2 shadow">
                        <img src = "static/images/featured-khwaeng-wat-arun-thailand.jpg" alt = "featured place">
                        <div class = "featured-item-content">
                            <span>
                                <i class = "fas fa-map-marker-alt"></i>
                                Goda Ghat , Nashik
                            </span>
                            <div>
                                <p class = "text">River Cleaning : Purification of the holy river Godavari and nearby Environment</p>
                            </div>
                        </div>
                    </div>

                    <div class = "featured-item my-2 shadow">
                        <img src = "static/images/featured-rome-italy.jpg" alt = "featured place">
                        <div class = "featured-item-content">
                            <span>
                                <i class = "fas fa-map-marker-alt"></i>
                                Dajipur Wildlife Sanctuary , Kolhapur
                            </span>
                            <div>
                                <p class = "text">Tree plantation : Fun way to spend your day for the environmental cause</p>
                            </div>
                        </div>
                    </div>

                    <div class = "featured-item my-2 shadow">
                        <img src = "static/images/featured-fuvahmulah-maldives.jpg" alt = "featured place">
                        <div class = "featured-item-content">
                            <span>
                                <i class = "fas fa-map-marker-alt"></i>
                                Khindsi Lake , Nagpur
                            </span>
                            <div>
                                <p class = "text">Lake Cleaning : Purification of the holy river Godavari and nearby Environment</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end of featured section -->

        <!-- services section -->
        <section id = "services" class = "py-4">
            <div class = "container">
                <div class = "title-wrap">
                    <span class = "sm-title">What do we do?</span>
                    <h2 class = "lg-title">Our services</h2>
                </div>

                <div class = "services-row">
                    <div class = "services-item">
                        <span class = "services-icon">
                            <i class = "fas fa-hotel"></i>
                        </span>
                        <div>
                            <h3>Efficiency in Complaint Filing:</h3>
                        <sapn class = "text">Streamline the process of reporting environmental issues with our user-friendly platform, allowing users to submit complaints quickly and efficiently using photos.This can be anonymously as well as per user requirements.
                        </span>
                        
                        </div>
                    </div>

                    <div class = "services-item">
                        <span class = "services-icon">
                            <i class = "fas fa-map-marked-alt"></i>
                        </span>
                        <h3>Contribute to a Larger Movement:</h3>
                        <p class = "text">Become part of a global movement for positive environmental change, knowing that your contributions, whether big or small, make a significant impact on issues like deforestation, animal cruelty, and waste management.</p>
                        
                    </div>

                    <div class = "services-item">
                        <span class = "services-icon">
                            <i class = "fas fa-money-bill"></i>
                        </span>
                        <h3>Educational Resources:</h3>
                        <p class = "text">Access educational content and image recognition guides that empower users to capture relevant and impactful photos, enhancing the overall quality and relevance of reported incidents.</p>
                        
                    </div>
                </div>
            </div>
        </section>
        <!-- end of services section -->

        <!-- testimonials section -->
        <section id = "testimonials" class = "py-4">
            <div class = "container">
                <div class = "title-wrap">
                    <span class = "sm-title">what our clients say about us</span>
                    <h2 class = "lg-title">testimonials</h2>
                </div>

                <div class = "test-row">
                    <div class = "test-item">
                        <p class = "text">I visited the Eco Voice website and I loved it. It is a website that helps users protect the environment and support eco-friendly organizations. It has many features, such as filing complaints, donating money, and sharing blogs. The website’s name, design, and layout are also very clear and catchy. I think the website is very impressive and promising.</p>
                        <div class = "test-item-info">
                            <img src = "images/test-1.jpg" alt = "testimonial">
                            <div>
                                <h3>Kevin Wilson</h3>
                                <p class = "text">Environmentalalist</p>
                            </div>
                        </div>
                    </div>

                    <div class = "test-item">
                        <p class = "text">The Eco Voice website is a wonderful project that allows users to take action for the environment and support green causes. It has various features, such as filing complaints, donating money, and sharing blogs. The website’s name, design, and layout are also very appealing and easy to use. I think the website is very impressive and inspiring.</p>
                        <div class = "test-item-info">
                            <img src = "images/test-2.jpg" alt = "testimonial">
                            <div>
                                <h3>Ben Davis</h3>
                                <p class = "text">Pet Surgion</p>
                            </div>
                        </div>
                    </div>

                    <div class = "test-item">
                        <p class = "text">The Eco Voice website is a great way to help the environment and join green movements. It lets users file complaints, donate money, and read blogs. The website’s name, look, and feel are also nice and simple. I like the website a lot.</p>
                        <div class = "test-item-info">
                            <img src = "static/images/test-3.jpg" alt = "testimonial">
                            <div>
                                <h3>Jaura Jones</h3>
                                <p class = "text">Software Engineer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end of testimonials section -->

        <!-- video section -->
        <section id = "video">
            <div class = "video-wrapper flex">
                <video loop>
                    <source src = "static/videos/video-section.mp4" type = "video/mp4">
                </video>
                <button type = "button" id = "play-btn">
                    <i class = "fas fa-play"></i>
                </button>
            </div>
        </section>
        <!-- end of video section -->


        <!-- js -->
        
        <script>
            // play/pause video
            let video = document.querySelector('.video-wrapper video');
            document.getElementById('play-btn').addEventListener('click', () => {
                if(video.paused){
                    video.play();
                } else {
                    video.pause();
                }
            });
        </script>

  {%endblock body%}